a:hover {
  color: var(--purple);
}

a {
  color: var(--bs-code-color);
}
.html-body {
  background: var(--bg-color);
}
.main-container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  .main-container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

.bounce {
  bottom: 0;
  margin-top: -25px;
  margin-left: -25px;
  height: 30px;
  width: 30px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(230deg);
  animation: bounce 5s ease infinite;
  opacity: 0;
}
@keyframes bounce {
  0% {
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: translateX(2000px) rotate(230deg);
    -webkit-transform: translateX(2000px) rotate(230deg);
  }
  15% {
    opacity: 1;
    transform: translateX(-30px) rotate(230deg);
    -webkit-transform: translateX(-30px) rotate(230deg);
  }
  30% {
    transform: translateX(10px) rotate(230deg);
    -webkit-transform: translateX(10px) rotate(230deg);
  }
  45% {
    opacity: 1;
    transform: translateX(-30px) rotate(230deg);
    -webkit-transform: translateX(-30px) rotate(230deg);
  }
  60% {
    opacity: 1;
    transform: translateX(10px) rotate(230deg);
    -webkit-transform: translateX(10px) rotate(230deg);
  }
  75% {
    transform: translateX(-30px) rotate(230deg);
    -webkit-transform: translateX(-30px) rotate(230deg);
  }
  90% {
    opacity: 1;
    transform: translateX(10px) rotate(230deg);
    -webkit-transform: translateX(10px) rotate(230deg);
  }
  100% {
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: translateX(-30px) rotate(230deg);
    -webkit-transform: translateX(-30px) rotate(230deg);
  }
}

.fa:hover {
  color: var(--purple);
}
#download-resume-btn {
  background-color: gray;
}
#download-resume-btn:hover {
  background-color: var(--purple);
}

#page-home-bouncer {
  display: inline-block;
  position: fixed;
  left: 1%;
  top: 5%;
}

@media only screen and (max-width: 960px) {
  #page-home-bouncer {
    display: none;
  }
}

:root {
  --purple: #c600e3;
  --bg-color: #101010;
}
